extends layout

block content
	h1= title
	p Личный кабинет
	table
		tr
			td
				ul
					li: a(href="/app") Мои приложения
					li: a(href="/app/install") Добавить новое приложение
					li: a(href="/") На главную
			td
				table(align='center', border='1', cellpadding='1', cellspacing='1', style='width: auto')
						tbody
							tr
								td п/п
								td Название
								td Ip-адрес
								td Порт
								td Статус
								-var i = 0
								each key in List   
									tr
										td !{i++}
										td !{key.AppName}
										td !{key.IP}
										td !{key.Port}
										td !{key.Status}
										td Включить
										td Изменить
										td Удалить
	p #{List}