extends layout

block content
	h1= title
	table
		tr
			td
				div(class="btn-toolbar" role="toolbar")

					button(type="button" class="btn btn-default btn-lg")
						span.glyphicon.glyphicon-home
							a(href="/app") Список
							
					button(type="button" class="btn btn-default btn-lg")
						a(href="/app").glyphicon.glyphicon-plus Приложения
					button(type="button" class="btn btn-default btn-lg")
						a(href="/app").glyphicon.glyphicon-plus Порты
			td
	table.table
		thead
			tr
				th №
				th Название
				th Порт
				th Статус
				th.ctext(width="214") Действие
		tbody
			- var i = 1,key
			each key in List   
				tr
					td #{i++}
					td #{key.AppName}
						br 
						| (#{key.IP})
					td #{key.Port}
					td #{key.Status}
					td
						if( key.Status == 'Online')
							a(href='/app/#{key._id}/disable').btn.btn-xs.btn-info Выключить 
						else
							a(href='/app/#{key._id}/enable').btn.btn-xs.btn-info Включить 
						| 
						a(href='/app/#{key._id}/edit').btn.btn-xs.btn-info Изменить 
						| 
						a(href='/app/#{key._id}/del').btn.btn-xs.btn-danger
							i.glyphicon.glyphicon-remove
	p #{List}