extends layout

block content
	h1= "Управление приложениями Nodejs"

		.navbar.navbar-default(role='navigation')
			.container-fluid
				.navbar-header

				.navbar-collapse.collapse
					.btn.btn-default.btn-ms.active
						span.glyphicon.glyphicon-home
							a(href="/app") Список
					.btn.btn-default.btn-ms
						span.glyphicon.glyphicon-plus
							a(href="/app/install") Приложение
					if(app.user.IsAdmin())
						.btn.btn-default.btn-ms
							span.glyphicon.glyphicon-plus
								a(href="/app/ports") Порты(адм)
	table.table
		thead
			tr
				th №
				if(app.user.IsAdmin())
					th User
				th Название
				th Порт
				th Статус
				th.ctext(width="214") Действие
		tbody
			- var i = 1,key
			each key in List	 
				tr
					td #{i++}
					if(app.user.IsAdmin())
						td #{key.UserOwner}
					td #{key.AppName}
						br 
						| (#{key.IP})
					td 
						a(target="_blank" href="http://#{key.IP}:#{key.Port}") #{key.Port}
					td #{key.Status}
					td
						if( key.Status == 'Online')
							a(href='/app/#{key._id}/stop').btn.btn-xs.btn-info Остановить 
						else
							if(key.Enable)
								a(href='/app/#{key._id}/run').btn.btn-xs.btn-info Запустить 
							else
								a(href='/app/#{key._id}/run').btn.btn-xs.btn-info.disabled Запустить 
						| 
						if(key.Enable)
							a(href='/app/#{key._id}/disable').btn.btn-xs.btn-info Отключить 
						else
							a(href='/app/#{key._id}/enable').btn.btn-xs.btn-info Включить 
						| 
						a(href='/app/#{key._id}/edit').btn.btn-xs.btn-info Изменить 
						| 
						a(href='/app/#{key._id}/del').btn.btn-xs.btn-danger
							i.glyphicon.glyphicon-remove
	p #{List}

	if (error)
		.alert.alert-danger #{error}