extends layout

block content
	h1 #{title}
		.navbar.navbar-default(role='navigation')
			.container-fluid
				.navbar-header

				.navbar-collapse.collapse
					.btn.btn-default.btn-ms.active
						span.glyphicon.glyphicon-home
							a(href="/man/users") Список
					.btn.btn-default.btn-ms
						span.glyphicon.glyphicon-plus
							a(href="/man/users/create") Добавить пользователя

	table.table
		thead
			tr
				th №
				th Имя
				th Права пользователя
				th.ctext(width="214") Действие
		tbody
			- var i = 1,key
			each key in list_user	 
				tr
					td #{i++}
					td #{key.username}
					if(key.role == "user")
						td Пользователь
					if(key.role == "admin")
						td Администратор
					td
						if(app.user.IsAdmin())
							a(href='/man/users/#{key._id}/edit').btn.btn-xs.btn-info Изменить 
							a(href='/man/users/#{key._id}/delete').btn.btn-xs.btn-danger
								i.glyphicon.glyphicon-remove Удалить

	//p #{list_user}

	if (error)
		.alert.alert-danger #{error}
	if (status)
		.alert.alert-success #{status}